
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    --color1: #9caba2ff;
    --color2: #85998aff;
    --color3: #cfcdc9ff;
    --color4: #f1e5e5ff;
    --color5: rgb(209, 236, 243, .6);
    --color6: rgb(48, 53, 49);

    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Besley', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color2);
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;    
}

section {

    background-color: var(--color4);
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px var(--color5);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color3);
    border-radius: 5px;
    width: 100%;
    height: max-content;
    padding: 5px;
    box-shadow: rgb(48, 53, 49);
}

footer {
    background-color: var(--color3);
    box-shadow: rgb(48, 53, 49);
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-left: 25px;
}

table {
    width: 60%;
    background-color: #6E6E6E;
    border-collapse: collapse;
    border-width: 2.5px;
    border-style: solid;
    color: #FFD675;
  }
  
  table.customTable td, table.customTable th {
    border-width: 2.5px;
    border-color: #9E9E9E;
    border-style: solid;
    padding: 2rem;
  }
  
  table.customTable thead {
    background-color: #536E67;
    font-weight: bolder;

  }